PART

class CLASS_NAME extends PARENT {

  /// DESCRIPTION
  CLASS_NAME(ARGUMENTS);

  VARIABLES

  /// DOC
  FACTORYCLASS_NAME.fromJson(Map<String, dynamic> json) FROM_JSON

  @override
  Map<String, dynamic> toJson() {
    return {
      TO_JSON
    };
  }

  static const CONSTRUCTOR = 'ID';
  
  @override
  String getConstructor() => CONSTRUCTOR;
}