name: tdlib
description: Flutter Plugin for TDLib.A complete tdlib-tdjson binding package.
version: 1.5.9
homepage: https://github.com/i-Naji/tdlib

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=2.8.0"

dependencies:
  flutter:
    sdk: flutter
  ffi: ^1.1.2
  js: ^0.6.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.4
  
# For information on the generic Dart part of this file, see the
# following page: https://www.dartlang.org/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  # This section identifies this Flutter project as a plugin project.
  # The androidPackage and pluginClass identifiers should not ordinarily
  # be modified. They are used by the tooling to maintain consistency when
  # adding or updating assets for this project.
  plugin:
    platforms:
      android:
        package: org.naji.td.tdlib
        dartPluginClass: TdNativePlugin
      ios:
        dartPluginClass: TdNativePlugin
      windows:
        dartPluginClass: TdNativePlugin
      macos:
        dartPluginClass: TdNativePlugin
      linux:
        dartPluginClass: TdNativePlugin
      web:
        pluginClass: TdWebPlugin
  # To add assets to your plugin package, add an assets section, like this:
  # assets:
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/assets-and-images/#from-packages
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # To add custom fonts to your plugin package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/custom-fonts/#from-packages

false_secrets:
  - /android/src/main/jniLibs/arm64-v8a/libtdjson.so
  - /android/src/main/jniLibs/armeabi-v7a/libtdjson.so
  - /android/src/main/jniLibs/x86/libtdjson.so
  - /android/src/main/jniLibs/x86_64/libtdjson.so
